* {
  font-family: "Karla";
  margin: 0;
  padding: 0;
  font-weight: 700;
}

body {
  background-color: #f4edeb;
}

.container-title {
  padding: 70px 0px 30px 100px;
}

.content-container {
  padding: 0 0px 0px 100px;
  display: flex;
  width: 100%;
}

.plate {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  padding: 0 30px 30px 0;
}

.card {
  padding: 0 25px 0 0;
  width: 100%;
}

.container-img {
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  width: 188px;
  border-radius: 10px;
  position: relative;
}

.waffle {
  background-image: url("../image/image-waffle-desktop.jpg");
}

.creme-brulee {
  background-image: url("../image/image-creme-brulee-desktop.jpg");
}

.macaron {
  background-image: url("../image/image-macaron-desktop.jpg");
}

.tiramisu {
  background-image: url("../image/image-tiramisu-desktop.jpg");
}

.baklava {
  background-image: url("../image/image-baklava-desktop.jpg");
}

.pie {
  background-image: url("../image/image-meringue-desktop.jpg");
}

.cake {
  background-image: url("../image/image-cake-desktop.jpg");
}

.brownie {
  background-image: url("../image/image-brownie-desktop.jpg");
}

.panna-cotta {
  background-image: url("../image/image-panna-cotta-desktop.jpg");
}

.container-btn {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px #c73a0f;
  border-radius: 30px;
  width: 100px;
  background-color: #f4edeb;
  padding: 5px 15px;
}

.btn-add {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5px 15px;
  width: 100%;
}

.container-decrement {
  display: flex;
  border: solid #fff 1px;
  border-radius: 100%;

  padding: 5px;
}

.container-increment {
  display: flex;
  border: solid #fff 1px;
  border-radius: 50%;
}

.click {
  background-color: #c73a0f;
}

.btn-add img {
  width: 20px;
}

button {
  border: none;
  padding: 4px 6px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
}

.content {
  padding: 30px 0 30px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.content p {
  font-size: 12px;
  color: #ad8985;
}

.content strong {
  font-size: 14px;
}

.value {
  color: #c73a0f;
}

.container-payment {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 230px;
  width: 300px;
  background-color: #fcf9f7;
  border-radius: 5px;
}

.container-cart-empty {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.title-empty {
  color: #c73a0f;
  padding: 10px 0px 0px 20px;
}

.cart-empty {
  color: #ad8985;
}
