/* Responsividade */
@media (max-width: 1280px) {
  .plate {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .card {
    padding: 0;
  }

  .plate {
    padding: 0;
  }

  .container-payment {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 2rem;
  }
  .btn-add {
    font-size: 0.9rem;
  }
  .container-cart-empty img {
    width: 70%;
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .plate {
    padding: 0;
  }

  .card {
    padding: 0;
  }
}
